* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 320px;
  font-family: 'Segoe UI', system-ui, -apple-system, sans-serif;
  background: #161512;
  color: #bababa;
  padding-bottom: 8px;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center; /* corrigido */
  padding: 8px;
}

#tournamentSelect, #roundSelect {
  padding: 10px 12px;
  background: #262421;
  color: #fff;
  border: 1px solid #3c3934;
  border-radius: 4px;
  font-size: 13px;
  cursor: pointer;
  outline: none;
  min-width: 0;
  max-width: 100%
}

/* 🔥 deixa o flex cuidar do tamanho */
#tournamentSelect {
  flex: 3; /* maior */
}

#roundSelect {
  flex: 1; /* menor */
}

#gamesList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 8px;
}

.game {
  display: flex;
  background: #1e1c1a;
  border-radius: 3px;
  overflow: hidden;
  border: 1px solid #3c3934;
}

.game:hover {
  cursor: pointer;
  background: #2d2b28;
  border-color: #4d4a44;
}

.eval-bar {
  width: 10px;
  background: #4a4742;
  position: relative;
  flex-shrink: 0;
}

.eval-fill {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #bdbdbd; 
  transition: height 0.4s ease;
}

.game-info {
  flex: 1;
  padding: 8px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  min-width: 0;
}

.player-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.name {
  font-size: 13px;
  font-weight: 500;
  color: #bababa; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.clock-area {
  font-family: 'Courier New', monospace;
  font-size: 12px;
  color: #999;
  flex-shrink: 0;
  text-align: right;
  min-width: 45px;
}

.score {
  font-weight: 800;
  color: #d5ae27; 
  font-size: 14px;
}

.eval-text {
  min-width: 40px;
  font-size: 11px;
  font-weight: 700;
  font-family: monospace;
  color: #888;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.15);
}

.game.finished {
  background: #1e1c1a;
}

.game.finished .eval-text {
  color: #666;
}

.empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px 16px;
    margin-top: 20px;

    border-radius: 12px;
    background: #1e1e1e;

    text-align: center;
    color: #ccc;
}

.empty-icon {
    font-size: 28px;
    margin-bottom: 10px;
    opacity: 0.7;
}

.empty-title {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 4px;
}

.empty-subtitle {
    font-size: 12px;
    color: #888;
}